<div class="float-container">
    <div class="column">
        <mat-card>
            <!-- <img mat-card-avatar src="" style="float: right;"> -->
            <span mat-card-avatar class="material-icons" style="float: right; color: white; background-color: #11CDEF;">
                trending_up
                </span>
            <p class="uptext">TOTAL SALES</p>
            <p>123,456</p>

            <div class="row">
               
                <p class="bottom-text" style="color: green;">+3.48% </p>
           
            
                <p class="bottom-text">Since last month</p>
                

            </div>
        </mat-card>
    </div>
    <div class="column">
        <mat-card>
                    <!-- <img mat-card-avatar src="" style="float: right;"> -->
                    <span mat-card-avatar class="material-icons" style="float: right; color: white; background-color: #F53C56;">
                        trending_down
                        </span>
                    <p class="uptext">NEW USER</p>
                    <p>23456</p>

                    <div class="row">

                        <p class="bottom-text" style="color: red;">-3.48% </p>

                        <p class="bottom-text">Since last month</p>

                    </div>
            
        </mat-card>
    </div>
    <div class="column">
        <mat-card>
            <!-- <img mat-card-avatar src="" style="float: right;"> -->
            <div mat-card-avatar style="float: right; color: white; background-color: #7764E4;">
                <span  class="material-icons" >
                    attach_money
                    </span>
            </div>
           
            <p class="uptext">TODAY'S SALES</p>
            <p>924</p>

            <div class="row">

                <p class="bottom-text" style="color: green;">+3.48% </p>

                <p class="bottom-text">Since last month</p>

            </div>
        
        </mat-card>
    </div>
        <div class="column">
            <mat-card>
                <!-- <img mat-card-avatar src="" style="float: right;"> -->
                <span mat-card-avatar class="material-icons"  style="float: right; color: white; background-color: #11CDEF;">
                    bar_chart
                    </span>
                <p class="uptext">TOTAL SALES</p>
                <p>48.65%</p>

                <div class="row">

                    <p class="bottom-text" style="color: green;">+3.48% </p>

                    <p class="bottom-text">Since last month</p>


                </div>
            </mat-card>
        </div>

</div>