<div class="float-container">
    <div class="column">
        <mat-card>
            <img mat-card-avatar src="" style="float: right;">
            <p class="uptext">TOTAL SALES</p>
            <p>123,456</p>

            <div class="row">

                <p style="color: green;">+3.48% </p>

                <p class="bottom-text">Since last month</p>


            </div>
        </mat-card>
    </div>
    <div class="column">
        <mat-card>
                    <img mat-card-avatar src="" style="float: right;">
                    <p class="uptext">NEW USER</p>
                    <p>23456</p>

                    <div class="row">

                        <p style="color: red;">-3.48% </p>

                        <p class="bottom-text">Since last month</p>

                    </div>
            
        </mat-card>
    </div>
    <div class="column">
        <mat-card>
            <img mat-card-avatar src="" style="float: right;">
            <p class="uptext">TODAY'S SALES</p>
            <p>924</p>

            <div class="row">

                <p style="color: green;">+3.48% </p>

                <p class="bottom-text">Since last month</p>

            </div>
        
        </mat-card>
    </div>
        <div class="column">
            <mat-card>
                <img mat-card-avatar src="" style="float: right;">
                <p class="uptext">TOTAL SALES</p>
                <p>48.65%</p>

                <div class="row">

                    <p style="color: green;">+3.48% </p>

                    <p class="bottom-text">Since last month</p>


                </div>
            </mat-card>
        </div>

</div>