<mat-sidenav-container class="sidenav-container" style="background: linear-gradient(0deg,#8898AA 50%,#172B4D 50%  );">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>E-commerce</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="/">Home</a>
      <a mat-list-item href="/products">Products</a>
      <a mat-list-item href="/categories">Categories</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar style="color: #172B4D;">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <span></span>
      <mat-toolbar-row>
      <div class="notification">
        <!-- <button></button> -->
        <mat-icon>notifications</mat-icon>
        <span class="example-spacer"></span>
         <mat-icon>help</mat-icon>
         <span class="example-spacer"></span>
        <img mat-card-avatar class="profile-image " src="../../assets/image/test.jpeg"> 
        <span class="example-spacer"></span>
        <p style="font-size: small;">John Doe</p>
  
      </div>
    </mat-toolbar-row>
  <mat-toolbar-row>


  </mat-toolbar-row>
    </mat-toolbar>
    <!-- Add Content Here -->
  
    <main >
      <router-outlet>
        <app-minicard>

        </app-minicard>
        
        <app-login>

        </app-login>
        <br>
        <app-add-category>

        </app-add-category>
        <br>
        <!-- <app-add-product>

        </app-add-product> -->
        <br>

        
      </router-outlet>
    </main>

  </mat-sidenav-content>
</mat-sidenav-container>
