<div class="prod-container"  >

<form class="form-container"   >
  <mat-card class="example-card" fxFlex=25% fxFlexFill >

    <mat-card-title style="font-size: medium;">New Product</mat-card-title>

    <button mat-stroked-button style="float: right;" color="primary">Add Product</button>


    <mat-divider></mat-divider>

    <div class="bottom-section" fxLayout="column"  fxLayoutAlign="space-between">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>
          Product Name
        </mat-label>
        <input type="text" formcontrolName="ProductName" matInput required>

      </mat-form-field>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>
          Price
        </mat-label>
        <input type="text" formcontrolName="Price" matInput required>

      </mat-form-field>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>
          Category
        </mat-label>
        <input type="text" formcontrolName="Category" matInput required>

      </mat-form-field>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>
          Description
        </mat-label>
        <input type="text" formcontrolName="Description" matInput required>

      </mat-form-field>
      
        <mat-label>
          Upload Image
        </mat-label>
       
        <button mat-flat-button  class="file-input" color="primary" required>Select Image</button>
  
      
    </div>
  </mat-card>
</form>
</div>