<div class="container">
    <mat-card style="width: 500px;" class="example-card">


        <mat-card-title style="font-size: medium;" class="label">New Category </mat-card-title>
        <div class="btn">
        <button mat-stroked-button  color="primary">ADD CATEGORY</button>
        </div>

        <mat-divider ></mat-divider>

        <div class="bottom-section">
            <p>
                <span  matBadge="*" matBadgeOverlap="false " matBadgeSize="small" matBadgeColor="warn">Category Name </span>
            </p>
            <input class="input" appearance="outline" matInput placeholder="Enter category name" required >
        </div>


    </mat-card>

</div>